.identifier{
    
    text-align: center;
    padding-top: 40px;
    font-size: 25px;
    font-weight: bold;
    opacity: .7;
    
}
.packages{
    background-color: white;
    overflow: hidden;
 
}

.list{
    margin-top: 20px;
    width: auto;
    height: auto;
    
  
   

}



.links{
    padding: 30px;
    padding-left: 130px;
    margin:auto;

    
}


